name: Check Markdown Links

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  link-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Lychee link checker
        uses: lycheeverse/lychee-action@v2.7.0
        with:
          args: >
            --no-progress
            --timeout 10
            --require-https
            **/*.md

