name: Run Examples

on: push
  #push:
  #  branches:
  #    - main
  #pull_request:

jobs:
  run-examples:
    runs-on: ubuntu-24.04
    if: github.event.pull_request.draft == false
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set MUFEM version from VERSION file
      run: | 
        echo "MUFEM_VERSION=$(cat VERSION)" >> $GITHUB_ENV

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install Python dependencies
      run: |
        python -m venv $HOME/mufem
        echo "VIRTUAL_ENV=$HOME/mufem" >> $GITHUB_ENV
        pip install mufem==$MUFEM_VERSION
        pip install numpy matplotlib

    - name: Run the examples
      run: |
        python3 ./run_cases.py

